/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Set the background color of the app
ion-content, ion-toolbar{
    --ion-background-color: #45646E;
    --background: #45646E;
}

#title {
    text-align: center;
    font-size: 10vw;
    color: #97dbf0
}

.container {
    
    margin-top: 40%;
    ion-button {

        margin: 10% auto;
        width: 80%;
        --background: #4FC8EE;
        font-size: 5vw;
        color: black;
}
}

.info {

    font-size: 5vw;
}

#goBackButton {

    padding: 0;
    margin: 0;
    font-size: 5vw;
    color: #4FC8EE;
}

.addFlash {

    background-color: #97dbf0;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
    text-indent: 5%;
    font-size: 5vw;
}
#wordButton {

    margin: 10% 10%;
    width: 80%; 
    height: 50%;
    --border-radius: 50px;
    --background: #4FC8EE;
    text-align: center;
    font-size: 10vw;
}