<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end"> 
      <ion-button (click)="presentInfo()">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">
  <h1 id="title">FlashCapp</h1>
  <div class="container">
    <ion-button expand="block" (click)="goAdd()">Add Flashcard</ion-button>
    <ion-button expand="block" (click)="goSee()">See Flashcard</ion-button>
    <ion-button expand="block" (click)="goStudy()">Study</ion-button>
</div>
</ion-content>
